doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/jquery-2.0.3.min.js")
    script(type='text/javascript', src="/javascripts/lexiko.js")
    script(type='text/javascript', src="/javascripts/socket.io.min.js")

  body
    block content
