body {
  padding: 50px;
  text-align:center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff; 
  background-image:url("/images/ambient01.jpg");
  background-repeat: no-repeat;
  background-size:contian;
}
h1.title {
	text-align:center;

}
a {
  color: #00B7FF;
}

input.wordbox {
	margin-top: 30px;
	background-color: rgba(0,0,0,0);
	font-size:36pt;
	border: 0px solid #fff;
    width: 640px;
    height: 1.2em;
	text-align:center;
    padding: 4px 4px 4px 4px;
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
	-webkit-transition-property: border, -webkit-box-shadow;
	-webkit-transition-duration: 1.7s;
	-webkit-transition-timing-function: eash-in;
    box-shadow: 0px 0px 5px #ffffff;
    -moz-box-shadow: 0px 0px 5px #ffffff;
    -webkit-box-shadow: 0px 0px 5px  #ffffff;
}

input.wordbox:focus {
    outline: none;
    border: 1px solid #cccccc;
	border-top-width: 0px;
	border-left-width: 0px;
    box-shadow: 4px 4px 8px #cccccc;
    -moz-box-shadow: 0px 0px 8px #ffffff;
    -webkit-box-shadow: 0px 0px 30px  #ffffff;
}

div.wordlist {
	font-size:20pt;
	color: balck;

}
